/* Mobile */
	
	.basic h4 {
		color: #09243f;
		font-size: 18px;
		font-family: "Arial Black","Arial";
	}
	
	header .logo img {
		zoom: 0;
		margin-right: -70px;
	}

	footer .logo {
		margin: 20px 0;
	}
	
	footer .logo h1 {
		margin: 3px 0 0 70px;
	}
	
	footer .logo h2 {
		margin-left: 70px;
	}
	
	.logo {
		font-family: 'arial';
		overflow: auto;
		width: 380px;
		line-height: normal;
		margin-top: 5px;
	}

	.logo img {
		float: left;
	}

	.logo h1 {
		color: #fff;
		font-weight: normal;
		margin: 0;
		text-transform: uppercase;
		font-size: 40px;
	}

	.logo h2 {
		color: #fff;
		font-size: 20px;
		font-weight: normal;
		margin-top: -5px;
	}
	
	header {
		background-color: #09243F;
		min-height: 70px;
		height: auto;
		text-align: center;
	}

	header  > #headerContent > .menuDown {
        box-shadow: 0 3px 5px rgba(0,0,0,.15);
    }
    
    header  > #headerContent > .menuUp {
        box-shadow: none;
    }
    
	header > #headerContent > div#logo > h1 { 
		color: white; 
		font-weight: 300; 
		text-transform: lowercase; 
	}
        
	header > #headerContent > div#logo > div#navToggle { 
		background-color: #09243F; 
		position: absolute; 
		right: 0; 
		top: 0; 
		transition: 300ms all ease; 
		line-height: 58px;
		height: 58px;
	} 
            
	header > #headerContent > div#logo > div#navToggle:hover { 
		background-color: #09243F; 
	} 
	
	header > #headerContent > div#logo > div#navToggle > a { 
		color: #fff; 
		display: block; 
		font-size: 0.85em; 
		font-weight: 600; 
		padding: 0 2.5rem; 
		text-decoration: none;
		transition: 300ms all ease;
	}
            
	header > #headerContent > div#logo > div#navToggle:hover > a {
		color: gray;
	}

    header > #headerContent > nav {
        background-color: gray;
        display: none;
        flex: 1;
        transform: 300ms all ease;
		clear: both;
    }
    
	header > #headerContent nav > ul {
		list-style-type: none;    
	}
        
	header > #headerContent nav > ul > li {
		border-bottom: 1px dotted rgba(0,0,0,.1);
		position: relative;
	}
            
	header > #headerContent nav > ul > li:last-of-type {
		border-bottom: none;    
	}

	header > #headerContent nav > ul > li > a {
		display: block;
		color: #fff;
		font-weight: 700;
		padding: 1.5rem 0;
		text-decoration: none;
		transition: 250ms all ease;
	}
                
	header > #headerContent nav > ul > li > a span.toggle {
		background-color: #09243F;
		border-radius: 3rem;
		color: #fff;
		font-size: 0.75em;
		font-weight: 500;
		padding: 2px 8px;
		text-transform: lowercase;  
	}
	
	header > #headerContent nav > ul > li > a span.caret {
		display: none;
		color: #fff;
	}

	header > #headerContent > nav > ul > li:hover > a {
		color: #fff;  
	}
    
	header > #headerContent > nav > ul > li > nav {
		background-color: rgb(51,51,51);
		border-radius: 1.5em;
		box-shadow: 0 2px 8px rgba(0,0,0,.6);
		display: none;
		overflow: hidden;
		position: absolute;
		right: 5%;
		width: 90%;
		z-index: 100;
	}
      
	header > #headerContent > nav > ul > li > nav > ul > li > a {
		color: #fff;
		transition: 300ms all ease;
	}
    
	header > #headerContent > nav > ul > li > nav > ul > li:hover > a {
		background-color: rgba(0,0,0,.6);
		color: rgba(255,255,255,1);
	}

/* Medium screens */
@media all and (min-width: 900px) {
    header > #headerContent > div#logo > div#navToggle {
        display: none;    
    }
    
    header {
		background-color: #09243F
        flex-direction: row;
        line-height: 90px;
        text-align: left;
        width: 100%;
    }
    
	header > #headerContent > div#logo {
		background-color: transparent;
		line-height: 90px;
	}
    
	header > #headerContent > div#logo > h1 {
		color: rgb(140, 193, 193);
	}
            
    header > #headerContent > nav {
        background-color: transparent;
        display: inline-block;
		width: 600px;
    }
    
	header > #headerContent > nav > ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		font-size: 18px;
	}
        
	header > #headerContent nav > ul > li {
		border-bottom: none;
	}
    
	header > #headerContent nav > ul > li > a {
		padding: 0 1.25rem;
	}
                    
	header > #headerContent nav > ul > li > a span.toggle {
		display: none;  
	}
	
	header > #headerContent nav > ul > li > a span.caret {
		border-bottom: 4px solid transparent;
		border-top: 4px solid #fff;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		border-radius: 1px;
		content: "";
		display: inline-block;
		height: 0;
		margin: 0 0 0 .25rem;
		transition: 250ms all ease;
		width: 0;
		vertical-align: middle;
	}
                    
	header > #headerContent nav > ul > li:hover > a span.caret {
		border-top-color: #fff;
		transform: rotate(270deg); 
	}
    
    header > #headerContent > nav > ul > li:hover > nav {
        background-color: #09243F;
        border-radius: .25em;
        box-shadow: 0 2px 8px rgba(0,0,0,.6);
        display: block;
        line-height: 3em;
        right: -50%;
        width: 250px;
    }
}





/* @media screen and (min-width: 480px) { */
	/* Background */
	html, body {
		margin: 0;
		padding:0;
	}

	body {
		background: #527BBD;
		font-family: 'LuzSans-Book';
		font-size: 14px;
		margin-top: -10px;
	}

	/* Page */
	@font-face {
		font-family: 'LuzSans-Book';
		src: url('../font/luzro.ttf');
	}
	
	.hiddenContent {
		display: none;
	}
	
	section:nth-child(even), footer {
		background: #fff;
		margin: 0 auto;
		position: relative;
	}
	
	section:nth-child(even):before, section:nth-child(even):after, footer:before, footer:after {
		content: '';
		height: 100%;
		position: absolute;
		top: 0;
		width: 220px;
		z-index: -1;
	}

	a {
		text-decoration: none;
	}

	ol, ul {
		list-style: none;
		margin: 0;
		overflow: visible;
		padding: 0;
	}

	p {
		margin: 0;
	}

	/* Header */
	header {
		background-color: #09243F;
	}
	
	header #headerContent {
		margin: 0 auto;
	}

	#mobile-nav {
		background: #09243F;
		width: 70px;
		float: left;
	}

	header .logo {
		font-family: 'Verdana';
		overflow: auto;
		margin: 20px 0 10px 0;
		width: 200px;
		float: left;
	}

	header .logo img {
		float: left;
		zoom: 50%;
		margin-top: 7px;
	}
	
	header .logo .hiddenContent {
		display: none;
	}

	.logo h1 {
		color: #FFF
		font-weight: normal;
		text-transform: uppercase;
		font-size: 32px;
	}

	.logo h2 {
		font-size: 16px;
		font-weight: normal;
		margin: 0;
	}
	

	/* Content */
	section {
		padding: 20px 0;
	}

	section:nth-child(odd) {
		background: #09243F;
		color: #fff;
		position: relative;
		width: 100%;
	}

	section:nth-child(even) {
		color: #09243F;
	}

	.content {
		margin: 0 auto;
		overflow: auto;
		text-align: center;
	}

	.content h3, footer h3 {
		font-family: 'Arial Black', 'Arial';
		font-size: 30px;
		font-weight: 900;
		margin: 0;
		text-transform: uppercase;
	}

	.text {
		font-size: 16px;
		margin-bottom: 20px;
		text-align: left;
	}

	.event, .name {
		font-size: 28px;
	}

	.prices {
		font-size: 24px;
		margin: 20px 0;
	}

	.price {
		margin: 0 10px;
	}

	.price-date {
		font-size: 20px;
	}

	.register {
		background: #09243F;
		color: #fff;
		display: block;
		font-family: 'Arial Black', 'Arial';
		font-weight: 900;
		margin: 0 0 30px 0;
		padding: 25px;
		text-transform: uppercase;
	}

	.pageNav li {
		display: inline-block;
		margin: 0 20px;
	}

	.pageNav a {
		color: #C3C3C3;
		font-family: 'Arial Black', 'Arial';
		font-weight: 900;
		text-transform: uppercase;
	}

	.speaker {
		display: inline-block;
		margin: 0 50px;
		vertical-align: top;
	}

	.speaker .image {
		display: inline-block;
		height: 232px;
		width: 178px;
	}

	.speaker1 {
		background: url('../img/Frank_ Turek_black_white.jpg');
	}

	.speaker1:hover {
		background: url('../img/Frank_ Turek_color.jpg');
	}

	.speaker2 {
		background: url('../img/robert_bowman_black_white.jpg');
	}

	.speaker2:hover {
		background: url('../img/robert_bowman_color.jpg');
	}

	.speaker .social {
		display: inline-block;
		margin: 10px 5px;
	}

	.speaker .books {
		color: #fff;
		display: block;
		font-size: 16px;
		text-decoration: underline;
	}

	.name {
		margin: 20px 0 10px 0;
	}

	.topic {
		font-style: italic;
	}

	.location {
		float: left;
		text-align: center;
		width: 100%;
	}

	.location p {
		margin-bottom: 10px;
	}

	.schedule {
		float: left;
		padding: 0 20px 0 20px;
		text-align: left;
		text-transform: uppercase;
	}
	
	.schedule ul {
		display: grid;
	}

	.schedule li {
		margin: 8px 0 10px 0;
	}
	
	.schedule .gridTopLeft {
		float: left;
		width: 20%;
	}
	
	.schedule .gridTopRight {
		float:right;
		width: 80%;
		font-size: 16px;
		font-weight: bold;
	}
	
	.schedule .gridBottom {
		margin: 8px 0 0 20%;
		display: inline-block;
		font-size: 12px;
	}

	.calendar {
		display: none;
	}
	
	/* Contact Us */
	.contact {
		margin: 0 auto;
		width: 425px;
	}

	.contact label {
		display: inline-block;
		vertical-align: top;
		width: 100px;
	}

	.contact input, .contact textarea {
		width: 300px;
	}

	.contact textarea {
		height: 200px;
	}

	.contact .submit {
		padding-right: 44px;
		text-align: right;
	}

	.contact .response {
		font-size: 16px;
		margin-top: 20px;
	}

	.g-recaptcha {
		margin: 0 0 20px 103px;
	}

	/* Footer */
	footer {
		padding-bottom: 0 0 20px 0;
	}

	
	footer .sponsorImg {
		display: inline-block;
		vertical-align: middle;
	}

	footer .summary {
		width: 100%;
	}
	
	footer .summary .logoImg {
		float: left;
	}
	
	footer .summary .logo {
		height: 150px;
	}

	footer .sponsors {
		color: #09243F;
		/* margin: 40px 0 0 0; */
		text-align: center;
		width: 100%;
	}

	footer .sponsor {
		display: inline-block;
		margin: px;
	}

	.shively {
		margin: 15px 25px 0 0;
	}

	.southeast {
		margin: 15px 10px 0 15px;
	}

	.lyndon {
		margin: 0 -15px 0 0;
	}

	footer .social {
		margin: 0 0 0 20px;
	}

	footer .facebook, footer .twitter, footer .instagram {
		margin: 0 0 0 5px;
	}

	footer .sitemap {
		font-size: 20px;
		margin: 20px 0 20px 20px;
	}

	footer .sitemapNav {
		width: 100%;
	}
		
	footer nav {
		margin: 20px 0 20px 20px;
	}

	footer ul ul {
		margin: 5px 0 0 10px;
	}

	footer li {
		margin: 8px 0;
	}

	footer li:first-child {
		margin-top: 0;
	}

	footer li:last-child {
		margin-bottom: 0;
	}

	footer nav a {
		color: #fff;
		margin-bottom: 30px;
	}
	
	footer nav a:hover {
		color: yellow;
	}
	
	.footerEnd {
		padding-bottom: 20px;
		background: #09243F;
		color: #fff;
		position: relative;
		width: 100%;
	}
	
	footer .footerEndCenter {
		width: 100%;
		justify-content: space-around;
	}
	
	footer .navColumns {
		width: 33%; 
		float: left;
	}
	
	footer .navColumns li a {
		font-size: 16px;
	}

	footer .copyright {
		clear: both;
		font-size: 12px;
		padding: 30px 0 0 0;
		text-align: center;
	}
  
	/* Basic */
	.basic {
		margin: 0 10px 0 10px;
	}


	/* Hacks */
	.clearfix:after {
		content:"";
		display:table;
		clear:both;
	}
	
	@media all and (min-width: 900px) {
		/* Background */
		html, body {
			margin: 0;
			padding: 0;
		}

		body {
			background: #527BBD;
			font-family: 'LuzSans-Book';
			font-size: 14px;
			margin-top: -10px;
		}


		/* Page */

		@font-face {
			font-family: 'LuzSans-Book';
			src: url('../font/luzro.ttf');
		}		
		
		section:nth-child(even), footer {
			background: #fff;
			margin: 0 auto;
			padding-left: 30px;
			padding-right: 30px;
			position: relative;
		}

		section:nth-child(even), .content {
			width: 784px;
		}
		
		header:after, section:nth-child(even):before, section:nth-child(even):after, footer:before, footer:after {
			content: '';
			height: 100%;
			position: absolute;
			top: 0;
			width: 220px;
			z-index: -1;
		}
		
		header #headerContent {
			width: 1000px
		}

		section:nth-child(even):before {
			background: linear-gradient(to left, #fff, transparent);
			left: -220px;
		}

		section:nth-child(even):after {
			background: linear-gradient(to right, #fff, transparent);
			right: -220px;
		}

		a {
			text-decoration: none;
		}

		ol, ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		p {
			margin: 0;
		}

		/* Logo */

		header .logo {
			margin-top: 10px;
		}
		
		header .logo .hiddenContent {
			display: block;
		}
		
		header .logo img {
			zoom: 0;
			margin-right: 10px;
		}

		footer .logo {
			margin: 20px 0;
			width: 330px;
			float: left;
		}
		
		header .logo {
			width: 380px;
		}
		
		.logo {
			font-family: 'arial';
			overflow: auto;
			width: 380px;
			line-height: normal;
			margin-top: 5px;
		}

		.logo img {
			float: left;
			/* margin: -5px -5px 0 -15px; */
		}

		.logo h1 {
			color: #fff;
			font-weight: normal;
			margin-top: 3px;
			text-transform: uppercase;
			font-size: 40px;
		}

		.logo h2 {
			color: #fff;
			font-size: 20px;
			font-weight: normal;
			margin-top: -5px;
		}
		
		
		/* Content */

		section {
			padding: 40px 0;
		}

		section:nth-child(odd) {
			background: #09243F;
			color: #fff;
			position: relative;
			width: 100%;
		}

		section:nth-child(even) {
			color: #09243F;
		}

		.content h3, footer h3 {
			font-family: 'Arial Black', 'Arial';
			font-size: 30px;
			font-weight: 900;
			text-transform: uppercase;
		}
		
		.content h3 {
			margin: 0 0 40px 0;
		}

		.text {
			font-size: 16px;
			margin-bottom: 20px;
			text-align: left;
		}
		
		.event, .name {
			font-size: 28px;
		}

		.prices {
			font-size: 24px;
			margin: 20px 0;
		}

		.price {
			margin: 0 10px;
		}

		.price-date {
			font-size: 20px;
		}

		.register {
			background: #09243F;
			color: #fff;
			display: block;
			font-family: 'Arial Black', 'Arial';
			font-weight: 900;
			margin: 0 0 60px 0;
			padding: 25px;
			text-transform: uppercase;
		}

		.pageNav li {
			display: inline-block;
			margin: 0 20px;
		}

		.pageNav a {
			color: #C3C3C3;
			font-family: 'Arial Black', 'Arial';
			font-weight: 900;
			text-transform: uppercase;
		}

		.pageNav img {
			margin: 0 0 10px 0;
		}
		
		.promoVideo {
			width: 640px;
			height: 360px;
		}

		.speaker {
			display: inline-block;
			margin: 0 50px;
			vertical-align: top;
		}

		.speaker .image {
			display: inline-block;
			height: 232px;
			width: 178px;
		}

		.speaker .social {
			display: inline-block;
			margin: 10px 5px;
		}

		.speaker .books {
			color: #fff;
			display: block;
		}

		.name {
			margin: 20px 0 10px 0;
		}

		.topic {
			font-style: italic;
		}

		.location {
			float: left;
			padding: 40px 0 0 20px;
			text-align: left;
			width: 35%;
		}

		.location p {
			margin: 0 0 30px 0;
		}

		.schedule {
			float: left;
			padding: 0 0 0 20px;
			text-align: left;
			text-transform: uppercase;
			max-width: 448px;
		}

		.schedule li {
			margin: 8px 0;
		}
		
		.schedule .hr1 {
			margin-top: 65px;
		}
		
		.schedule .hr2 {
			margin-top: 35px;
		}
		
		.calendar {
			display: block;
		}
		.map, .calendar {
			float: right;
		}

		.calendar {
			margin: -10px 50px 0 50px;
		}

		.contact {
			width: 450px;
		}

		/* Footer */
		footer {
			padding: 0;
		}
		
		footer .sponsors {
			color: #09243F;
			text-align: center;
		}
		
		footer .sponsor {
			display: inline-block;
			vertical-align: middle;
		}

		
		footer .sponsorImg .bhpublishing, footer .sponsorImg .kcm {
			zoom: 70%;
		}

		.shively {
			margin: 15px 25px 0 0;
		}

		.southeast {
			margin: 15px 10px 0 15px;
		}

		.lyndon {
			margin: 0 -15px 0 0;
		}

		footer .social {
			margin: 0 0 0 20px;
		}

		footer .facebook, footer .twitter, footer .instagram {
			margin: 0 0 0 5px;
		}

		footer .sitemap {
			font-size: 20px;
			margin: 20px 0 20px 130px;
		}
		
		footer .sitemapNav {
			display: block;
			width: 650px;
			float: right;
			margin-top: 20px;
		}

		footer nav {
			margin: 0;
		}

		footer ul ul {
			margin: 5px 0 0 10px;
		}

		footer li {
			margin: 4px 0;
		}

		footer li:first-child {
			margin-top: 0;
		}

		footer li:last-child {
			margin-bottom: 0;
		}
		
		footer .footerEndCenter {
			width: 1100px;
			margin: 0 auto;
		}
		
		footer .navColumnsContainer {
			width: 675px;
		}

		footer .copyright {
			clear: both;
			font-size: 12px;
			padding: 30px 0 0 0;
			text-align: center;
		}
		
		/* Events */
		
		.content #events {
			margin-bottom: 0;
		}
	}