/* Mobile */

/* @media screen and (min-width: 480px) { */
	/* Background */
	html, body {
		margin: 0;
		padding:0;
	}

	body {
		background: #527BBD;
		font-family: 'LuzSans-Book';
		font-size: 14px;
		margin-top: -10px;
	}

	/* Page */
	@font-face {
		font-family: 'LuzSans-Book';
		src: url('../font/luzro.ttf');
	}
	
	header .hiddenContent {
		display: none;
	}

	header, section:nth-child(even), footer {
		background: #fff;
		margin: 0 auto;
		position: relative;
	}

	header:before, header:after, section:nth-child(even):before, section:nth-child(even):after, footer:before, footer:after {
		content: '';
		height: 100%;
		position: absolute;
		top: 0;
		width: 220px;
		z-index: -1;
	}

	a {
		text-decoration: none;
	}

	ol, ul {
		list-style: none;
		margin: 0;
		overflow: auto;
		padding: 0;
	}

	p {
		margin: 0;
	}

	/* Header */
	header {
	}

	header .social {
	  clear: right;
	  float: right;
	  margin-bottom: 10px;
	  display: none;
	}

	header .email, header .facebook {
	  float: right;
	  height: 20px;
	  margin: 0 0 0 6px;
	  text-indent: -10000px;
	  width: 20px;
	  zoom: 150%;
	}

	header .email {
	  background: url('../img/email.jpg') 0 0/20px no-repeat;
	}

	header .facebook {
	  background: url('../img/facebook1.jpg') 0 0/20px no-repeat;
	}

	header nav {
		display: none;
	}

	#mobile-nav {
		background: #09243F;
		width: 70px;
		float: left;
	}

	header .logo {
		font-family: 'Verdana';
		overflow: auto;
		width: 380px;
		margin: 0 auto;
		width: 200px;
	}

	header .logo img {
		float: left;
		zoom: 50%;
	}

	.logo h1 {
		color: #09243F;
		font-weight: normal;
		margin: 20px 0 0 0;
		text-transform: uppercase;
	}

	.logo h2 {
		font-size: 16px;
		font-weight: normal;
		margin: 0;
	}

	/* Search - Mobile*/
	.search{
		display: none;
	}
	
	.searchMobile {
		background: #f6f6f6;
		border-radius: 20px;
		max-height: 0px;
		margin: 0 auto;
		width: 250px;
		margin-top: 10px;
	}
	
	#searchDiv {
		transition: max-height 4s;
		max-height: 0;		
		border: 0;
		background: gray;
		float: left;
		width: 100%;
		height: 50px;
	}
	
	#searchMobile.searchOpen{
		border: 1px solid #e8e8e8;
	}
	
	.searchMobile input[type=submit].searchOpen {
		display: inline;
		transition: display 4s;
	}
		
	#searchDiv.searchOpen, .searchMobile.searchOpen, .searchMobile input[type=text].searchOpen, .searchMobile input[type=submit].searchOpen  {
		max-height: 500px;
		transition: max-height 4s;
	}

	.searchMobile input[type=text] {
		background: transparent;
		border: 0;
		color: #9f958b;
		height: 28px;
		font-size: 1em;
		margin: 0 0 0 15px;
		padding: 0;
		width: 200px;
		max-height: 0px;
	}

	.searchMobile input[type=submit] {
		background: url('../img/search.png') 0 0/20px no-repeat;
		border: 0;
		cursor: pointer;
		height: 20px;
		margin: 0 10px 0 0;
		padding: 0;
		text-indent: -10000px;
		width: 20px;
		max-height: 0px;
		display: none;
	}
	
	#btnSearch {
		background: url('../img/search.png') 0 0/20px no-repeat;
		background-color: #f6f6f6;
		background-position: center;
		color: #9f958b;
		height: 28px;
		font-size: 1em;
		padding: 0;
		border: 1px solid #e8e8e8;
		border-radius: 20px;
		float: left;
		margin: 20px 20px 0 0;
		position: absolute;
		top: 0px;
		right: 0px;
		width: 30px;
		cursor: pointer;
	}

	/* Content */
	section {
		padding: 20px 0;
	}

	section:nth-child(odd) {
		background: #09243F;
		color: #fff;
		position: relative;
		width: 100%;
	}

	section:nth-child(even) {
		color: #09243F;
	}

	.content {
		margin: 0 auto;
		overflow: auto;
		text-align: center;
	}

	.content h3, footer h3 {
		font-family: 'Arial Black', 'Arial';
		font-size: 30px;
		font-weight: 900;
		margin: 0;
		text-transform: uppercase;
	}

	.text {
		font-size: 16px;
		margin-bottom: 20px;
		text-align: left;
	}

	.event, .name {
		font-size: 28px;
	}

	.prices {
		font-size: 24px;
		margin: 20px 0;
	}

	.price {
		margin: 0 10px;
	}

	.price-date {
		font-size: 20px;
	}

	.register {
		background: #09243F;
		color: #fff;
		display: block;
		font-family: 'Arial Black', 'Arial';
		font-weight: 900;
		margin: 0 0 30px 0;
		padding: 25px;
		text-transform: uppercase;
	}

	.pageNav li {
		display: inline-block;
		margin: 0 20px;
	}

	.pageNav a {
		color: #C3C3C3;
		font-family: 'Arial Black', 'Arial';
		font-weight: 900;
		text-transform: uppercase;
	}

	.speaker {
		display: inline-block;
		margin: 0 50px;
		vertical-align: top;
	}

	.speaker .image {
		display: inline-block;
		height: 232px;
		width: 178px;
	}

	.speaker1 {
		background: url('../img/sean-mcdowell-b&w.jpg');
	}

	.speaker1:hover {
		background: url('../img/sean-mcdowell-color.jpg');
	}

	.speaker2 {
		background: url('../img/greg-koukl-b&w.jpg');
	}

	.speaker2:hover {
		background: url('../img/greg-koukl-color.jpg');
	}

	.speaker .social {
		display: inline-block;
		margin: 10px 5px;
	}

	.speaker .books {
		color: #fff;
		display: block;
		font-size: 16px;
		text-decoration: underline;
	}

	.name {
		margin: 20px 0 10px 0;
	}

	.topic {
		font-style: italic;
	}

	.location {
		float: left;
		text-align: center;
		width: 100%;
	}

	.location p {
		margin-bottom: 10px;
	}

	.schedule {
		float: left;
		padding: 0 20px 0 20px;
		text-align: left;
		text-transform: uppercase;
	}
	
	.schedule ul {
		display: grid;
	}

	.schedule li {
		margin: 8px 0 10px 0;
	}
	
	.schedule .gridTopLeft {
		float: left;
		width: 20%;
	}
	
	.schedule .gridTopRight {
		float:right;
		width: 80%;
		font-size: 16px;
		font-weight: bold;
	}
	
	.schedule .gridBottom {
		margin: 8px 0 0 20%;
		display: inline-block;
	}

	.calendar {
		display: none;
	}
	
	/* Contact Us */
	.contact {
		margin: 0 auto;
		width: 425px;
	}

	.contact label {
		display: inline-block;
		vertical-align: top;
		width: 100px;
	}

	.contact input, .contact textarea {
		width: 300px;
	}

	.contact textarea {
		height: 200px;
	}

	.contact .submit {
		padding-right: 44px;
		text-align: right;
	}

	.contact .response {
		font-size: 16px;
		margin-top: 20px;
	}

	.g-recaptcha {
		margin: 0 0 20px 103px;
	}

	/* Footer */
	footer {
		padding-bottom: 20px;
	}

	footer .summary, footer .sponsors {
		float: left;
	}

	footer .summary {
		width: 100%;
	}
	
	footer .summary .logoImg {
		float: left;
	}
	
	footer .summary .logo {
		height: 150px;
	}

	footer .sponsors {
		color: #09243F;
		margin: 40px 0 0 0;
		text-align: center;
		width: 100%;
	}

	footer .sponsor {
		display: inline-block;
		margin: px;
	}

	.shively {
		margin: 15px 25px 0 0;
	}

	.southeast {
		margin: 15px 10px 0 15px;
	}

	.lyndon {
		margin: 0 -15px 0 0;
	}

	footer .social {
		margin: 0 0 0 20px;
	}

	footer .facebook, footer .twitter, footer .instagram {
		margin: 0 0 0 5px;
	}

	footer .sitemap {
		font-size: 20px;
		margin: 20px 0 20px 20px;
	}

	footer .sitemapNav {
		display: none;
	}
		
	footer nav {
		margin: 20px 0 20px 20px;
	}

	footer ul ul {
		margin: 5px 0 0 10px;
	}

	footer li {
		margin: 4px 0;
	}

	footer li:first-child {
		margin-top: 0;
	}

	footer li:last-child {
		margin-bottom: 0;
	}

	footer nav a {
		color: #000;
	}

	footer .copyright {
		clear: both;
		font-size: 12px;
		padding: 30px 0 0 0;
		text-align: center;
	}

	/*Hamburger Menu*/	
	.hamburger{
		background:none;
		line-height:45px;
		padding:5px 15px 0px 15px;
		color:#FFF;
		border:0;
		font-size:3em;
		font-weight:bold;
		cursor:pointer;
		outline:none;
	}
	.cross{
	  background:none;
	  padding:7px 15px 0px 15px;
	  color:#FFF;
	  border:0;
	  font-size:3em;
	  line-height:50px;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	}

	/* Mobile Menu */
	.menuMobile{
		z-index:1000000;
		font-size: 28px;
		font-family: LuzSans-Book;
		width:100%;
		background:#f1f1f1;
		text-align:center;
		width: 15em;
	}
	
	.menuMobile ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		list-style-image: none;
	}

	.menuMobile li:hover {
		display: block;
		background:#09243F;
		padding:15px 0 15px 0;
		border-bottom:#dddddd 1px solid;
	}
	.menuMobile ul li a {
		text-decoration:none;
		margin: 0px;
		color:#fff;
	}

	.menuMobile ul li a:hover {
		color: #666;
		text-decoration:none;
	}

	.menuMobile a {
		text-decoration:none;
		color:#fff;
	}

	.menuMobile a:hover {
		text-decoration:none;
		color:#666;
	}

	/*new*/
	.header .menuMobile ul {
	  padding: 0;
	  margin: 0;
	  overflow: hidden;
	}
	.header .menuMobile ul a li {
		display: grid;
		vertical-align: middle;
		float: left;
		list-style: none;
		padding: 15px 0 15px 0;
		margin: 0;
		width: 100%;
		background: rgb(46, 46, 46);
		border-top: 1px solid #4d4d4d;
		color: #fff;
		text-shadow: #848484 0px 1px 2px;
		width: 100%;
	}
	.header .menuIcon {
	  display: none;
	  background: rgb(9, 36, 63);
	  text-align: center;
	  max-height: 50px;
	  width: 100%;
	}
	.header .menuIcon:hover {
	  background: rgb(46, 46, 46);;
	}
	.header .menuIcon a {
	  width: 100%;
	  display: inline-block;
	  color: #fff;
	}
	.header .menuIcon a img {
	  vertical-align: middle;
	}
	
	.header .menuIcon a .cross {
		display: none;
	}
	
	.header .menuMobile {
		display: none
	}

	/* @media all and (max-width: 767px) { */
	.header .menuMobile {
		max-height: 0;
		overflow: hidden;
		float: none;
		text-align: center;
		width: 100%;
		-webkit-transition: max-height 1s;
		-moz-transition: max-height 1s;
		transition: max-height 1s;
	}
	.header .menuMobile.menuOpen {
		max-height: 1000px;
		-webkit-transition: max-height 3s;
		-moz-transition: max-height 3s;
		transition: max-height 3s;
	}
	
	.header .menuMobile ul li:hover {
		background: rgb(46, 46, 46);
	}
	
	.header .menuIcon, .header .menuMobile {
		display: inline-block;
	}
  
	.header .menuIcon #myHref {
		display: flex;
		align-items: center;
		justify-content: center;
	}
  
	.header .menuIcon #myHref span {
		font-size: 20px;
	}
  
	/* About */
	.about {
		margin: 0 10px 0 10px;
	}


	/* Hacks */
	.clearfix:after {
		content:"";
		display:table;
		clear:both;
	}
	
	@media all and (min-width: 900px) {
		/* Background */
		html, body {
			margin: 0;
			padding: 0;
		}

		body {
			background: #527BBD;
			font-family: 'LuzSans-Book';
			font-size: 14px;
			margin-top: -10px;
		}


		/* Page */

		@font-face {
			font-family: 'LuzSans-Book';
			src: url('../font/luzro.ttf');
		}

		header, section:nth-child(even), footer {
			background: #fff;
			margin: 0 auto;
			padding-left: 30px;
			padding-right: 30px;
			position: relative;
		}

		header, section:nth-child(even), .content, footer {
			width: 784px;
		}

		header:before, header:after, section:nth-child(even):before, section:nth-child(even):after, footer:before, footer:after {
			content: '';
			height: 100%;
			position: absolute;
			top: 0;
			width: 220px;
			z-index: -1;
		}

		header:before, section:nth-child(even):before, footer:before {
			background: linear-gradient(to left, #fff, transparent);
			left: -220px;
		}

		header:after, section:nth-child(even):after, footer:after {
			background: linear-gradient(to right, #fff, transparent);
			right: -220px;
		}

		a {
			text-decoration: none;
		}

		ol, ul {
			list-style: none;
			margin: 0;
			overflow: auto;
			padding: 0;
		}

		p {
			margin: 0;
		}


		/* Header */

		header {
		}

		header .social {
		  display: block;
		  /* clear: right; */
		  /* float: right; */
		  margin: 10px 50px 0 0;
		}

		header .email, header .facebook {
		  /* float: right; */
		  /* height: 20px; */
		  /* margin: 0 0 0 6px; */
		  /* text-indent: -10000px; */
		  /* width: 20px; */
		  zoom: 0;
		}

		header .email {
		  background: url('../img/email.jpg') 0 0/20px no-repeat;
		}

		header .facebook {
		  background: url('../img/facebook1.jpg') 0 0/20px no-repeat;
		}
		
		header nav {
			display: block;
			float: right;
			margin: 15px 0 0 0;
		}

		header nav ul {
			overflow: auto;
		}

		header nav ul li {
			float: left;
			margin: 0 20px 0 0;
			text-transform: uppercase;
		}

		header nav ul li a {
			color: #999;
			font-family: 'Arial Black', 'Arial';
			font-weight: 900;
		}
		
		.header .menuIcon, .header .menuMobile {
			display: none;
		}


		/* Logo */

		header .logo {
			float: left;
		}
		
		header .logo .hiddenContent {
			display: block;
		}
		
		header .logo img {
			zoom: 0;
		}

		footer .logo {
			margin: 20px 0;
		}
		
		header .logo {
			width: 380px;
		}
		
		.logo {
			font-family: 'Verdana';
			overflow: auto;
			width: 380px;
		}

		.logo img {
			float: left;
			margin: -5px -5px 0 -15px;
		}

		.logo h1 {
			color: #09243F;
			font-weight: normal;
			margin: 20px 0 0 0;
			text-transform: uppercase;
		}

		.logo h2 {
			font-size: 16px;
			font-weight: normal;
			margin: 0;
		}


		/* Search */
		#btnSearch, #searchDiv {
			display: none;
		}
		
		.search {
			background: #f6f6f6;
			border: 1px solid #e8e8e8;
			border-radius: 20px;
			float: right;
			margin: 20px 20px 0 0;
			display: block;
		}



		.search input[type=text] {
			background: transparent;
			border: 0;
			color: #9f958b;
			height: 28px;
			font-size: 1em;
			margin: 0 0 0 15px;
			padding: 0;
			width: 200px;
		}



		.search input[type=submit] {
			background: url('../img/search.png') 0 0/20px no-repeat;
			border: 0;
			cursor: pointer;
			height: 20px;
			margin: 0 10px 0 0;
			padding: 0;
			text-indent: -10000px;
			width: 20px;
		}


		/* Content */

		section {
			padding: 40px 0;
		}

		section:nth-child(odd) {
			background: #09243F;
			color: #fff;
			position: relative;
			width: 100%;
		}

		section:nth-child(even) {
			color: #09243F;
		}

		.content {
			margin: 0 auto;
			overflow: auto;
			text-align: center;
		}

		.content h3, footer h3 {
			font-family: 'Arial Black', 'Arial';
			font-size: 30px;
			font-weight: 900;
			margin: 0 0 40px 0;
			text-transform: uppercase;
		}

		.text {
			font-size: 16px;
			margin-bottom: 20px;
			text-align: left;
		}

		.event, .name {
			font-size: 28px;
		}

		.prices {
			font-size: 24px;
			margin: 20px 0;
		}

		.price {
			margin: 0 10px;
		}

		.price-date {
			font-size: 20px;
		}

		.register {
			background: #09243F;
			color: #fff;
			display: block;
			font-family: 'Arial Black', 'Arial';
			font-weight: 900;
			margin: 0 0 60px 0;
			padding: 25px;
			text-transform: uppercase;
		}

		.pageNav li {
			display: inline-block;
			margin: 0 20px;
		}

		.pageNav a {
			color: #C3C3C3;
			font-family: 'Arial Black', 'Arial';
			font-weight: 900;
			text-transform: uppercase;
		}

		.pageNav img {
			margin: 0 0 10px 0;
		}
		
		.promoVideo {
			width: 640px;
			height: 360px;
		}

		.speaker {
			display: inline-block;
			margin: 0 50px;
			vertical-align: top;
		}

		.speaker .image {
			display: inline-block;
			height: 232px;
			width: 178px;
		}

		.speaker1 {
			background: url('../img/sean-mcdowell-b&w.jpg');
		}

		.speaker1:hover {
			background: url('../img/sean-mcdowell-color.jpg');
		}

		.speaker2 {
			background: url('../img/greg-koukl-b&w.jpg');
		}

		.speaker2:hover {
			background: url('../img/greg-koukl-color.jpg');
		}

		.speaker .social {
			display: inline-block;
			margin: 10px 5px;
		}

		.speaker .books {
			color: #fff;
			display: block;
		}

		.name {
			margin: 20px 0 10px 0;
		}

		.topic {
			font-style: italic;
		}

		.location {
			float: left;
			padding: 40px 0 0 20px;
			text-align: left;
			width: 35%;
		}

		.location p {
			margin: 0 0 30px 0;
		}

		.schedule {
			float: left;
			padding: 0 0 0 20px;
			text-align: left;
			text-transform: uppercase;
		}

		.schedule li {
			margin: 8px 0;
		}
		
		.calendar {
			display: block;
		}
		.map, .calendar {
			float: right;
		}

		.calendar {
			margin: -10px 50px 0 50px;
		}

		.contact {
			width: 450px;
		}

		/* Footer */
		footer {
			padding-bottom: 20px;
		}

		footer .summary, footer .sponsors {
			float: left;
		}

		footer .summary {
			width: 450px;
		}

		footer .sponsors {
			color: #09243F;
			margin: 100px 0 0;
			text-align: center;
			width: 330px;
		}

		footer .sponsor {
			display: inline-block;
			margin: px;
		}

		.shively {
			margin: 15px 25px 0 0;
		}

		.southeast {
			margin: 15px 10px 0 15px;
		}

		.lyndon {
			margin: 0 -15px 0 0;
		}

		footer .social {
			margin: 0 0 0 20px;
		}

		footer .facebook, footer .twitter, footer .instagram {
			margin: 0 0 0 5px;
		}

		footer .sitemap {
			font-size: 20px;
			margin: 20px 0 20px 130px;
		}
		
		footer .sitemapNav {
			display: block;
		}

		footer nav {
			margin: 0 0 0 130px;
		}

		footer ul ul {
			margin: 5px 0 0 10px;
		}

		footer li {
			margin: 4px 0;
		}

		footer li:first-child {
			margin-top: 0;
		}

		footer li:last-child {
			margin-bottom: 0;
		}

		footer nav a {
			color: #000;
		}

		footer .copyright {
			clear: both;
			font-size: 12px;
			padding: 30px 0 0 0;
			text-align: center;
		}
	}
	
	
	
	/*header nav {
		float: right;
		margin: 15px 0 0 0;
	}

	header nav ul {
		overflow: auto;
	}

	header nav ul li {
		float: left;
		margin: 0 20px 0 0;
		text-transform: uppercase;
	}

	header nav ul li a {
		color: #999;
		font-family: 'Arial Black', 'Arial';
		font-weight: 900;
	}

	Logo
	header .logo {
		float: left;
	}	*/